@font-face {
    font-family: 'Arimo';
    src: local('Arimo'), local('Arimo'),
        url('../fonts/Arimo/Arimo-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Arimo';
    src: local('Arimo Italic'), local('Arimo-Italic'),
        url('../fonts/Arimo/Arimo-Italic-VariableFont_wght.ttf') format('truetype');
    font-style: italic;
}
