:root {
    #light {
        --author-headline: #33272a;
        --author-sub-headline: #594a4e;
        --author-background-card: #faeee7;
        --author-box-shadow-card: #110d0e;
    }
    
    #dark {
        --author-headline: #fffffe;
        --author-sub-headline: #94a1b2;
        --author-background-card: #16161a;
        --author-box-shadow-card: #997cf23d;
    }
}

.info-layout {
    .author__content,
    .info__content {
        padding-block: 40px;

        .headline {
            text-align: center;
            font-size: 2.5em;
            color: var(--author-headline);
            font-weight: 900;
            letter-spacing: 1px;
        }

        .min-headline {
            text-align: start;
            font-size: 1.5em;
            color: var(--author-headline);
            font-weight: 800;
            letter-spacing: 0.9px;
        }

        .sub-headline {
            width: 70%;
            text-align: center;
            font-size: 1.2em;
            color: var(--author-sub-headline);
            letter-spacing: 1px;
            font-weight: 600;

            @media ( max-width: 768px) {
                width: 85%;
            }

            @media ( max-width: 425px) {
                width: 95%;
            }
        }
        .block__items {
            width: 100%;
            margin-left: 20px;
            padding: 10px 10px 10px 40px;
            border-radius: 5px;
            // background: var(--author-background-card);
            transition: all .5s ease;
            
            &:hover {
                box-shadow: 0 1px 2px var(--author-box-shadow-card);
                translate: 0 -5px;
                cursor: pointer;
            }
        }
    }
}