* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1em;
    font-family: Arima;
    font-weight: 400;
    font-style: normal;
}

:root {
    --primary-selection-bg-color: #12b99a;
    --primary-selection-font-color: #ffffff;

    #light {
        --primary-bg-color: #fffffe;

        --primary-headline-color: #33272a;
        --primary-sub-headline-color: #3c3336;
        --primary-description-color: #403134;
        --primary-paragraph-color: #594a4e;
    }
    
    #dark {
        --primary-bg-color: #242629;

        --primary-headline-color: #fffffe;
        --primary-sub-headline-color: #94a1b2;
        --primary-description-color: #b8c5d5;
        --primary-paragraph-color: #94a1b2;
    }
}

::selection {
    background: var(--primary-selection-bg-color);
    color: var(--primary-selection-font-color);
}

.wrapper {
    width: 100%;
    min-height: 100lvh;
    background: var(--primary-bg-color);
    overflow: hidden;
}

button {
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 700;
}

a {
    text-decoration: none;
}

img,
svg,
i {
    user-select: none;
}

.box {
    width: 100%;
    @include Flex();
    padding-inline: 10%;

    @media ( max-width: 1024px ) {
        padding-inline: 7%;
    }

    @media ( max-width: 768px ) {
        padding-inline: 5%;
    }

    @media ( max-width: 425px ) {
        padding-inline: 3%;
    }
}

.headline {
    font-size: 2.5em;
    color: var(--primary-headline-color);
    font-weight: 900;
    letter-spacing: 1px;
}

.sub-headline {
    font-size: 1.8em;
    color: var(--primary-sub-headline-color);
    font-weight: 800;
    letter-spacing: 0.7px;
}

.description {
    font-size: 1.2em;
    color: var(--primary-description-color);
    opacity: 0.95;
    letter-spacing: 0.6px;
    font-weight: 600;
}

.paragraph {
    font-size: 1.2em;
    color: var(--primary-paragraph-color);
    opacity: 0.85;
    letter-spacing: 0.5px;
    font-weight: 500;
}


.file__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}